# Ignore node_modules directory
node_modules/

# Ignore log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore the build directory
/dist

# Ignore .env files
.env

# Ignore IDE specific files
.idea/
*.iml
.vscode/
*.swp
*.swo
*.swn
*.bak
*.bak2
*.bak3
*.tmp
*.DS_Store